<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">        
    </head>

    <body>
        <div class="container">
            <form method="post" action="/search">
                <input type="text" name="searchStr" id="searchStr" class="" />
                <button type="submit">Search</button>
            </form>
            <h1 class="text-center">Movie Database</h1>
            <p> Total Results: <%=totalResults%></p>

            <% for( i= 0; i < movies.length; i++) { 
                if (search == true) { %>
            <a class="movie-link" href="/movie/<%= movies[i].id + '?search=true' %>">
            <% } else { %>
                <a class="movie-link" href="/movie/<%= movies[i].id %>">
            <% } %>
            <div class="media movie-list-item">
                <div class="media-left">
                    <div class="poster-container">
                        <img class="media-object movie-poster" src="<%= baseUrl %><%= movies[i].poster_path %>" />
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <%= movies[i].title %>
                        <span class="badge"><%= movies[i].popularity %></span>
                    </h4>
                    <div>
                        <%= movies[i].overview %>
                    </div>
                    <div class="released-date">
                        Released: <%= movies[i].release_date  %>
                    </div>
                </div>
            </div>
            </a>
            
            <% } %>

        </div>
    </body>
</html>

